DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dams_belleza?schema=public
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= 834d36b94571dc6efb76c7667319f53af98e3d78ef2fa0915cb389895a0548ca
STORE_NAME=Dam's belleza
WHATSAPP_NUMBER=237691949858

RESEND_API_KEY=
RESEND_FROM=

SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SUPER_ADMIN_PHONE=
SUPER_ADMIN_WHATSAPP=
SEED_PASSWORD=ChangeMe123!